---
title: SmartBrew Knowledge Base - Leaking Issues
layout: layouts/page.njk
permalink: /leaking/
eleventyNavigation:
  key: Leaking
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>Sweetener</h2>
  <ul>
    <li><a href="/leaking/sweetener-bib-compartment/">BIB Compartment</a></li>
    <li><a href="/leaking/brew-basket/">Brew Basket</a></li>
  </ul>

<h2>Tea</h2>
  <ul>
    <li><a href="/leaking/brew-basket/">Brew Basket</a></li>
    <li><a href="/leaking/pinchtube/">Pinch tube drips</a></li>
  </ul>

<h2>Water</h2>
  <ul>
    <li><a href="/leaking/brew-basket/">Brew Basket</a></li>
    <li><a href="/leaking/cold-water/">Cold Water Drips Continuously</a></li>
    <li><a href="/leaking/drips-continuously/">Hot Water Drips Continuously</a></li>
    <li><a href="/leaking/tank-overfilling/">Tank Overfilling</a></li>
    <li><a href="/leaking/external/">External Leak</a></li>
  </ul>
