---
title: SmartBrew Knowledge Base - Brewing Issues
layout: layouts/page.njk
permalink: /brewing/
eleventyNavigation:
  key: Brewing
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>Brew Cycle</h2>
  <ul>
    <li><a href="/brewing/short-cycle/">Short Brew Cycle</a></li>
    <li><a href="/brewing/not-brewing/">Doesn't Brew</a></li>
  </ul>

<h2>Error Screens</h2>
  <ul>
    <li><a href="/brewing/fill-time-out-error/">Fill Time Out Error</a></li>
    <li><a href="/brewing/heater-error/">Heater Error</a></li>
    <li><a href="/brewing/overheat-error/">Overheat Error</a></li>
    <li><a href="/brewing/thermistor-error-open/">Open Thermistor Error</a></li>
    <li><a href="/brewing/thermistor-error-short/">Shorted Thermistor Error</a></li>
  </ul>

<h2>Tea Quality</h2>
  <ul>
    <li><a href="/brewing/bitter-tea/">Bitter Tea</a></li>
    <li><a href="/brewing/not-sweet/">Not Sweet (Enough)</a></li>
    <li><a href="/brewing/too-sweet/">Too Sweet</a></li>
    <li><a href="/brewing/weak-tea/">Weak Tea</a></li>
  </ul>

<h2>Water Issues</h2>
  <ul>
    <li><a href="/brewing/not-filling/">Not Filling</a></li>
  </ul>
