---
title: SmartBrew Knowledge Base - Heating Issues
layout: layouts/page.njk
permalink: /heating/
eleventyNavigation:
  key: Heating
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>Heating</h2>
  <ul>
    <li><a href="/heating/no-heat/">No Heat</a></li>
    <li><a href="/heating/overheating/">Overheating</a></li>
    <li><a href="/heating/long-heating/">Takes too Long to Heat</a></li>

  </ul>

