---
title: SmartBrew Knowledge Base
date: Last Modified 
permalink: /smartbrew/kb/
eleventyNavigation:
  parent: SmartBrew
  key: Knowledge Base 
  order: 110
  title: Knowledge Base 
tags:
  -  
  - 
---
The issues that you may experience with the SmartBrew machine can generally be categorized in 6 areas: [Power](Power), Brewing, Heating, Leaking, Configuration, and Other.

## Power & Electrical Issues
- The [tablet is blank](/smartbrew/kb/blank-tablet/).

## Brewing Issues

## Heating Issues

## Leaking Issues

## Configuration Issues

## Other Issues