---
title: SmartBrew Knowledge Base - Power & Electrical Issues
layout: layouts/page.njk
permalink: /power/
eleventyNavigation:
  key: Power & Electrical Issues
  parent: SmartBrew Knowledge Base
  order: 2
problemCode:
resolutionCode:
---
<h2>No Power to SmartBrew</h2>
  <ul>
    <li>Check that the <a href="/power/no-power/">SmartBrew machine has power</a>.</li>
  </ul>

<h2>Tablet Issues</h2>
  <ul>
    <li>Tablet is <a href="/power/tablet-flashing/">flashing screen</a>.</li>
    <li>Tablet has a <a href="/power/tablet-blank/">blank screen</a>.</li>
    <li>Tablet is <a href="/power/tablet-not-paired/">not paired/ in demo mode</a>.</li>
    <li>Tablet is <a href="/power/tablet-not-communicating/">not communicating</a>.</li>
  </ul>
