---
title: SmartBrew Knowledge Base - Other Issues
layout: layouts/page.njk
permalink: /other/
eleventyNavigation:
  key: Other
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>Urn Issues</h2>
  <ul>
      <li><a href="/other/broken-faucet/">Broken Faucet</a></li>
  </ul>