---
title: SmartBrew Knowledge Base - Configuration Issues
layout: layouts/page.njk
permalink: /config/
eleventyNavigation:
  key: Configuration
  parent: SmartBrew Knowledge Base
  order: 200
---
<h2>Communication Issues</h2>
  <ul>
    <li><a href="/config/check-primary-server/">Check Primary Server</a></li>
    <li><a href="/config/check-machine-id/">Check Machine ID</a></li>
    <li><a href="/config/check-customer-store-id/">Check Customer / Store ID</a></li>
    <li><a href=""></a></li>
  </ul>

<h2>Installation Issues</h2>
  <ul>
    <li><a href="/config/damaged-equipment/">Damaged Equipment</a></li>
    <li><a href="/config/install-electric/">Electrical</a></li>
    <li><a href="/config/missing-equipment/">Missing Equipment</a></li>
    <li><a href="/config/install-plumbing/">Plumbing</a></li>
    <li><a href="/config/install-product/">Product</a></li>
    <li><a href="/config/install-space/">Space</a></li>

  </ul>

<h2>Recipe Issues</h2>
  <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
