---
title: TEAZZERS Parts
permalink: /parts/
eleventyNavigation:
  parent: Home
  key: Parts
  order: 900
  title: Parts
tags:
  - 

---
<ul>
{%- for post in collections.part -%}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>